<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments/head :: head}">
	</link>
</head>

<body>
	<!--header-->
	<header th:replace="~{fragments/header :: header('movies')}">
	</header>

	<!--main-->
	<main >
		<div class="container-fluid px-5">
			<th:block th:if="${!movies.isEmpty()}">
				<div th:replace="~{fragments/showmovies :: showmovies}">
			</th:block>
			<th:block th:unless="${!movies.isEmpty()}">
				<div th:replace="~{fragments/nofound :: nofound(${title})}">
			</th:block>
		</div>
	</main>

	<!--footer-->
	<footer th:replace="~{fragments/footer :: footer}">

	</footer>
</body>
<!--scripts-->
<th:block th:replace="~{fragments/scripts :: scripts}">
	</th>

</html>