<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments/head :: head}">
	</link>
</head>

<body>
	<!--header-->
	<header th:replace="~{fragments/header :: header('movies')}">
	</header>

	<!--main-->
	<main class="bg-light">
		<div class="container-fluid text-center px-5">
			<th:block th:if="${!movies.isEmpty()}">
				<h1>Ecco la lista dei film</h1>
				<div class="row d-flex-wrap justify-content-center">
					<div th:each="movie : ${movies}" class="card col-3" style="width: 18rem;">
						<img class="card-img-top" th:src="@{${movie.cover}}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title" th:text="${movie.title}"></h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
							<a th:href="@{/movies}" class="btn btn-primary">Return</a>
						</div>
					</div>
				</div>
			</th:block>
			<th:block th:unless="${!movies.isEmpty()}">
				<div th:replace="~{fragments/nofound :: nofound}">
			</th:block>
		</div>
	</main>

	<!--footer-->
	<footer th:replace="~{fragments/footer :: footer}">

	</footer>
</body>
<!--scripts-->
<th:block th:replace="~{fragments/scripts :: scripts}">
	</th>

</html>